/*!
Theme Name: LATAM Sostenible
Author: Code Castle El Salvador
Author URI: https://codecastle.com.sv
Description: Sitio web de LATAM Sostenible 2019
Version: 1.0.1
Text Domain: LATAM Sostenible
*/

* {
  box-sizing: border-box;

}

body {
    background-color: #f9f9f9;
    font-family: Helvetica;
    margin: 0 !important;
}

/** Footer **/
	footer {
	  width: 100%;
	  background-color: #000 !important;
	  text-align: center !important;
	}

	footer p {
		padding: 0.5rem;
		color: #fff !important;
		text-align: center !important;
		margin-bottom: 0 !important;
	}

	.redes-sociales-footer p { 
		color: #fff;
		font-size: 18px;
		text-align: center;
	}
	.redes-sociales-footer ul {
		text-align: center !important;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0;
	}

	.redes-sociales-footer > div {
		
	}

	#footer-menu {
		padding: 0px;
	}

	#footer-menu > li {
		list-style: none;
		margin: 0.5rem;
		text-align: center;
		width: 100%;
	}

	#footer-menu > li > a {
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		padding: 10 0 5px 0;
		text-transform: uppercase;
		text-align: center;
	}

	#footer-menu > li > a:hover {
		color: #a6d20c;
		text-decoration: none;
		font-weight: bold;
	}

	.sub-menu {
		padding: 0;
		list-style: none;
	}

	.sub-menu li {
		margin: 0.5rem;
	}

	.sub-menu a {
		color: #fff;
		width: 100%;
		text-decoration: none;
	}

	.sub-menu a:hover {
		color: #a6d20c;
	}

body > header > h1 > a {
	color: #ffffff;
	font-weight: 400;
}

/** Navbar style **/

	.navbar-brand img {
		width: 200px;
	}

	.navbar {
		background-color: #1c2b31;
	}

	.navbar-brand-footer img {
		width: 250px;
		text-align: center;
	}
	.brand-footer{
		color: #fff !important;
		text-align: center;
	}

a {
  text-decoration: none;
}

/* 'Margin: 0 auto' centers block content on the page */
.wrap {
  width: 100%;
  margin: 0 auto;
}

.content-area {
  display: inline-block;
}

.content-thin {
    width: 70%;
}

.content-full-width {
    width: 100%;
}

.content-area,
.primary-sidebar {
  display: inline-block;
}

.primary-sidebar {
  width: 25%;
  padding: 1%;
  vertical-align: top;
  background-color: #ececec;
}

.article-loop {
    width: 45%;
    text-align: left;
    margin: 5px;
    padding: 10px;
}

.article-full {
  width: 100%;
  padding: 0%;
}

.article-loop,
.article-full {
  display: inline-block;
  vertical-align: top;
  background-color: #FFF;
  border-radius: 4px;
  margin-bottom: 4px;
}

/** Menu **/
#menu-principal a {
	color: #fff !important;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
  text-align: center;
}
#menu-principal a:hover { 
	color: #a6d20c !important;
	text-decoration: none;
	font-weight: bold;
}
.navbar-toggler {
	background-color: #a6d20c;
	border-radius: 0px;
}
.navbar-toggler-icon {
	background-color: #fff;
  margin: 3px;
  height: 4px;
  display: -webkit-box;
  vertical-align: middle;
}

/** Menu top redes sociales **/
.menu-social { 
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 0px !important;
	padding: 0px;
}
.menu-social li {
	list-style: none;
	padding: 8px 5px 0px;
	display: inline-block;
}
.social-icons {
	width: 35px;
}

.elementor-column-wrap,  .elementor-element-populated {
	padding: 0px !important;
}

.screen-reader-text {
	display: contents !important;
	visibility: visible !important;
}

.countdown-items {
	display: inline-block; !important;
	width: 110px !important;
	padding: 0px;
	text-align: center;
}
.countdown-items span {
	margin-top: 2rem;
}

.es-field-wrap {
	display: inline-block;
	width: 100%;
}
.es_subscription_form {
	text-align: center;
}
.es-field-wrap label, .es-field-wrap input {
	width: 100%;
	text-align: center;
}
.es_subscription_form_submit {
	background-color: #1c2b31 !important;
	color: #fff !important;
	border-radius: 40px !important;
	border: 0px;
	height: 40px;
	padding: 0px 25px 0px;
	text-align: center;
}

.es_txt_email {
	height: 40px;
	text-align: center;
	border: 0px solid gray;
}

.logo-esp {
	width: 100px !important;
	position: absolute;
	top: 0;
	margin-top: 2rem;
}

.eihe-title-cover {
	margin-top: 5rem;
}

.specialist-container > div > div {
	width: 50%;
	display: inline-block;
}

.pm-none {
	padding: 0px !important;
	margin: 0px !important;
}
.icon-data {
	width: 200px;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container {
	display: inline-block; !important;
	text-align: center;
}
.aceptar-btn {
	display: inline-block;
	text-align: center;
	border-radius: 40px !important;
	border:0px !important;
	color: #fff !important;
	background-color: #0e8b05 !important;
	margin: 1rem 1rem 1rem 3rem !important;
	padding: 10px 30px 10px 30px !important;
}

.specialist-item-column { 
	display: inline-block;
	width: 100% !important;
}

.valores-item p {
	text-align: justify !important;
}

.eael-entry-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem 4rem;
}

.eael-entry-wrapper {
	z-index: 1000;
}

.eael-entry-title a {
	color: #fff !important;
}

.eael-grid-post .eael-entry-footer, .eael-grid-post .eael-entry-wrapper {
	padding: 0 2rem !important;
}

.titulo {
	text-align: center;
	/**background-color: rgba(0,0,0, 0.5);**/
	padding: 2rem;
	height: 100%;
}

.titulo a {
	font-size: 30px;
	font-weight: 500;
}

#new-post, #new-post img {
	height: 500px !important;
}

.post-item, .post-img {
	height: 220px !important;
}

.send {
	background-color: #6ab215 !important;
	color: #fff !important;
}

.send:hover {
	background-color: #a6d20c !important;
}

/** Responsive **/
@media only screen and (min-width: 600px) {
	.logo-esp {
		margin-top: 3rem;
	}
	.specialist-item-column { 
		width: 50% !important;
	}
}

@media only screen and (min-width: 1024px) {
	#menu-principal a {
		color: #fff !important;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;
		padding: 0px 10px;
	  text-align: center;
	}
	#menu-principal a:hover { 
		color: #a6d20c !important;
	}

	/** social **/

	.menu-social { 
		text-align: right;
		margin-top: 1rem;
		margin-right: 1rem;
	}

	#footer-menu > li {
		display: inline-block;
		text-align: right;
		vertical-align: top;
	}

	#footer-menu > li > a {
		padding-left: 8px;
	}

	#footer-menu >li > a:hover {
		text-decoration: none;
	}

	.sub-menu {
		margin-top: 2rem;
	}

	.brand-footer{
		text-align: left;
	}

	#suscribe-container {
		margin-left: 3rem;
		margin-right: 3rem;
	}

	.countdown-items span {
		margin-top: 0rem;
	}

	.es-field-wrap {
		display: inline-block;
		width: 70%;
	}

	.es-field-wrap label, .es-field-wrap input {
		width: 100%;
	}

	#suscribe-container {
		position: absolute;
		bottom: -5rem;
		width: 90%;
	}

	.specialist-container > div > div {
		width: 100%;
		display: inline-block;
	}
	.icon-data {
		width: 100%;
	}

	.specialist-item-column { 
		display: inline-block;
		width: 25% !important;
	}

	.logo-esp {
		width: 100px !important;
		position: absolute;
		top: 0;
		margin-top: 4.5rem;
	}

} 
